.FullPost{

    text-align: center;
   
    padding: 32dp;
    width: auto;
    display: block;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    
    
    margin:10% 10% auto ;
}


